.menu {
  text-align: center;
  padding: 5px;
  position: sticky;
  width: 100%;
  top: 0px;
  height: 30px;
  vertical-align: middle;
  background-color: #00ffff;
  color: #000000;
  z-index: 999999;
}

.menu a {
  color: #000000;
  text-decoration: none;
  vertical-align: middle;
  margin: 5px;
  height: 100%;
  /* background-color: #000000; */
}

.menu .active {
  color: rgb(255, 255, 255);
}
