.leftmenubutton {
  display: block;
  margin-left: auto;
  margin-right: auto;

  padding: 5px;
  margin-bottom: 20px;
  /* overflow: auto; */
  /* min-width: 10px; */
  /* border-radius: 5px; */
  width: 30px;
}

.leftmenubuttons {
  /* display: block; */
  overflow: auto;
  /* max-width: 20%; */
  max-height: 100%;
  /* padding-top: 20px; */
}
