.wrapper {
  min-width: 100%;
  overflow: hidden;
  background-color: brown;
}

.variant {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  justify-content: stretch;
  flex-wrap: wrap;
  /* align-items: stretch; */
}

.varHeader {
  display: flex;
  background-color: aqua;

  min-height: 8vh;

  /* height: 40%; */
  text-align: center;
  align-items: center;
  justify-content: center;
  align-items: center;
}
/* .varHeader {
  display: flex;
  background-color: aqua;
  height: 100%;
  justify-content: center;
  align-items: center;
} */
.varHeader a {
  font-size: 20px;
  padding: 0px 20px 0px 0px;
  text-decoration: none;
}

.varCentre {
  display: flex;
  flex: 1 1 auto;

  flex-direction: row;
}

.varNavigate {
  display: flex;
  background-color: rgb(0, 255, 76);
  flex: 0 0 auto;
  min-width: 5%;
}
.varTask {
  display: flex;
  background-color: burlywood;
  flex-direction: column;
  flex: 1 1 auto;
  /* width: 80%; */
}

.varTaskText {
  display: flex;
  background-color: rgb(255, 255, 255);
  margin: 20px;
  padding: 10px;
  flex: 1 1 auto;
  max-width: 90%;
  font-size: 25px;
  align-items: center;
  margin-bottom: 10%;
  background-image: url("../../../public/треугольники.png");
  background-repeat: repeat;
}

.varAnswer {
  background-color: brown;
  min-height: 8vh;
}

.enable {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.enable img {
  pointer-events: none;
}
