.varNavigate {
  grid-area: leftmenu;
  background-color: #e7edf9;
  align-content: center;
}

.varNavigate .leftmenu {
  margin: 0px 15px 0px 15px;
}

.leftmenubutton {
  display: block;
  margin-left: auto;
  margin-right: auto;

  padding: 5px;
  margin-bottom: 20px;
  /* overflow: auto; */
  /* min-width: 10px; */
  /* border-radius: 5px; */
  width: 30px;
  background-color: #ffffff;
  border: 0px;
  border-radius: 4px;
}

.leftmenubutton:hover {
  cursor: pointer;
}

.leftmenubuttons {
  /* display: block; */
  overflow: auto;
  /* max-width: 20%; */
  max-height: 100%;
  /* padding-top: 20px; */
}

.activevartask {
  color: rgb(255, 255, 255);
  background-color: #0d325c;
}
