.variantrestable {
  font-size: 0.9rem;
  background-color: white;

  margin: 0px;
  max-width: 100%;

  padding: 10px;
}

.variantrestable td {
  overflow: auto;
}
.variantrestable .maintr {
  font-size: 1rem;
}
.variantrestable .maintr td {
  padding: 5px;
}

.variantrestable > tbody > tr > td {
  padding: 10px 10px 10px 10px;
}

/* Table in table */
.variantrestable table {
  width: auto;
  margin: auto;
}

.variantrestable table td {
  padding: 5px;
}
