.task {
  border-radius: 10px;
  margin: 40px auto;
  margin-top: 0px;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  max-height: 100%;

  /* border: 2px solid; */
  /* border-color: greenyellow;
  border-color: red;
  border-color: black; */
}
