.addTask {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.editor {
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

h2 {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.answer label {
  margin-right: 5px;
}

.answer {
  margin-bottom: 10px;
}

input {
  /* box-sizing: border-box; */
  /* border: 2px; */
  /* background-color: beige; */
}

details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}
