.mainpage h1 {
  display: inline-block;
  justify-content: center;
  flex-wrap: wrap;

  background-color: white;
  padding: 10px 40px;
  border-radius: 40px;
  font-size: 1.5rem;
  font-weight: 600;

  margin: 20px;
  margin-top: 30px;
}

.mainpage h2 {
  display: inline-block;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
  background-color: white;
  padding: 10px 40px;
  border-radius: 40px;
  font-size: 1.4rem;
  font-weight: 600;

  margin: 20px;
}

.mainpage div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.mainpage {
  background-color: antiquewhite;
}

.mainpage table {
  background-color: white;
}
