.addTask {
  width: 70%;
  margin-left: auto;
  margin-right: auto;

  padding: 5px;
}

.addTask table {
  background-color: white;
}

.addTask input {
  padding: 1px;
  text-align: center;
}
.addTask .checkbox {
  width: 15px;
  height: 15px;
}
.addTask .answer span {
  margin-right: 5px;
}

.addTask select {
  margin-right: 10px;
}
.addTask .countcolsrowsinput {
  width: 30px;
}

.editor {
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.addTask h2 {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.addTask .answer label {
  margin-right: 5px;
}

.addTask .answer {
  /* margin-bottom: 10px; */
}

.addTask details {
  /* border: 1px solid #aaa;
  border-radius: 4px; */
  padding: 0.5em 0.5em 0;
}

.addTask summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

.addTask details[open] {
  padding: 0em;
}

.addTask details[open] summary {
  margin-bottom: 0;
}

.addTask .videorazbor {
  /* display: flex; */
  /* padding: 5px; */
}
.addTask .videorazbor span {
  /* display: flex; */
  /* margin: 5px; */
}

.addTask .videorazbor input {
  width: 500px;
  margin: 5px;
  align-items: center;
}

.addTask .sendButton {
  font-size: 1rem;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 10px;
  background-color: #4caf50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
}

.addTask .sendButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.addTask .disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
