.createvariant {
  margin: 15px;
  margin-bottom: 0px;
}

.createvariant .navigationbuttons button {
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 4px;
  margin-top: 10px;
  font-size: 1rem;
}

.createvariant input {
  padding: 1px;
  text-align: center;
}

.activebutincreatevar {
  background: greenyellow;
}
.createvariant .taskincvar {
  margin: 20px;
  width: 60%;
}

.createvariant .answer * {
  margin: 2px;
}

.createvariant .answer table {
  background-color: white;
  width: 300px;
}

.addtaskcvar {
  padding: 5px;
}

.createvariant .addfiles {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
}

.createvariant .addfiles button {
  padding: 2px;
  margin: 8px;
}

.createvariant .saveeditorbutton button {
  padding: 5px;
  margin-bottom: 10px;
}

.createvariant .addtaskbyid input {
  padding: 3px;
  margin-right: 10px;
  font-size: 1.2rem;
}

.createvariant .savetoserverbutton button {
  margin: 20px;
  padding: 10px;
  margin-left: 0px;
}

.createvariant li {
  display: inline-block;
}
.createvariant ul {
  display: inline-block;
}
