/* .navbar {
  background-color: #ff1865;
} */

/* .bg-my {
  background-color: blue;
  color: aliceblue;
  lighting-color: brown;
  override-colors: brown;
} */

.link {
  color: blue;
  accent-color: blue;
}
