.task {
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 40px;

  background-color: rgb(255, 255, 255);

  border: 2px solid rgb(145, 141, 141);
}

.taskcontent {
  padding: 15px;
  font-size: 0.95rem;
}

.taskinfo {
  padding: 15px;
  border-radius: 8px 8px 0px 0px;
  background-color: rgb(240, 239, 239);
}

.answerinbank {
  padding: 15px;
  background-color: rgb(240, 239, 239);
  border-radius: 0px 0px 8px 8px;
}

.answerinbank button {
  padding: 7px;
  border: 0px;
  border-radius: 10px;
  display: inline-flex;
  background-color: white;
  margin: 0px 0px 0px 20px;
  border: 2px solid #ffffff;
}

.answerinbank button:hover {
  cursor: pointer;

  border: 2px solid #8d8d8d;
}
.answerinbank button:active {
  cursor: pointer;

  background-color: rgb(217, 255, 209);
}

.answerinbank table {
  display: inline-flex;
  border: 0px;

  padding-top: 0px;
  margin-top: 7px;
  margin-bottom: 7px;
  background-color: white;

  max-width: 70%;
}

.answerinbanktext {
  padding: 5px;
  font-size: 1.1rem;

  max-width: 70%;
}

.task .files {
  padding: 15px;
}

.task .files a {
  /* color: black; */
  text-decoration: none;
}

.OKFT {
  border: 2px solid #e692e0;
  border: 2px solid rgb(54, 229, 41);
}

.OK {
  border: 2px solid rgb(54, 229, 41);
}

.WA {
  border: 2px solid red;
}

@media (orientation: portrait) {
  .taskcontent {
    font-size: 0.75rem;
  }
}
