.task {
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 40px;

  background-color: rgb(255, 255, 255);

  border: 2px solid rgb(145, 141, 141);
}

.taskcontent {
  padding: 15px;
  font-size: 0.95rem;
}

.taskinfo {
  padding: 15px;
  border-radius: 8px 8px 0px 0px;
  background-color: rgb(240, 239, 239);
}

.taskinfo .editbut:hover {
  cursor: pointer;
  color: cornflowerblue;
}

.answerinbank {
  padding: 20px 20px 20px 20px;
  background-color: rgb(240, 239, 239);
  border-radius: 0px 0px 8px 8px;
}

.answerinbank form {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  /* justify-content: space-between; */
  gap: 10px 20px;
  align-items: flex-end;
  align-items: center;
}

.answerinbank button {
  padding: 7px;
  background-color: white;
  border: 2px solid #ffffff;
  border-radius: 7px;
}

.answerinbank button:hover {
  cursor: pointer;

  border: 2px solid #8d8d8d;
}
.answerinbank button:active {
  cursor: pointer;

  background-color: rgb(217, 255, 209);
}

.answerinbank table {
  margin: 0px;
  border: 0px;

  background-color: white;
}

.answerinbanktext {
  padding: 7px;
  font-size: 1.1rem;

  max-width: 70%;
  border: 1px solid grey;
  border-radius: 7px;
  outline: none;
}

.task .files {
  padding: 15px;
}

.task .files a {
  /* color: black; */
  text-decoration: none;
}

.OKFT {
  border: 2px solid #e692e0;
  border: 2px solid rgb(54, 229, 41);
}

.OK {
  border: 2px solid rgb(54, 229, 41);
}

.WA {
  border: 2px solid red;
}

@media (orientation: portrait) {
  .taskcontent {
    font-size: 0.75rem;
  }
}
