.container {
  background-color: #e8eef9;
  display: grid;
  grid-template-areas:
    "header   header      header header"
    "leftmenu taskbutdivl task   taskbutdivr"
    "leftmenu answer      answer answer";
  grid-template-rows: 1.3fr 14fr 2.5fr;
  grid-template-columns: 1.5fr 1fr 18fr 1fr;
  /* background-color: rgb(0, 0, 0); */

  min-height: 100vh;
  max-height: 100vh;
}

.taskbutdivl,
.taskbutdivr {
  display: flex;
  align-items: center;
  align-content: center;
  margin: 0px 0px 0px 0px;
  padding: 0px 10px 0px 10px;
  background-color: white;
  margin-top: 10px;
  user-select: none;
}
.taskbutdivr {
  margin-right: 10px;
}

.taskbut {
  font-size: 1.7rem;
  display: flex;

  justify-content: center;
  width: 40px;
  height: 40px;
  color: rgb(120, 181, 255);
  border: 1px solid rgb(120, 181, 255);
  border-radius: 50%;

  color: #a8c7f6;
  border: 1px solid #a8c7f6;

  align-content: center;
  text-align: center;
}

.taskbut:hover {
  cursor: pointer;
}

.taskwithbut {
  display: flex;
}

.varCentre {
  max-height: 100%;
  max-width: 100%;
}

.varTask {
  grid-area: task;
  background-color: white;
  /* background-color: burlywood; */
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 10px;

  display: flex;

  justify-content: center;
  align-items: center;
  padding: 0px 10px 0px 10px;
}

.varTaskText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
  /* flex-wrap: wrap; */
  background-color: rgb(255, 255, 255);
  /* margin: 20px; */
  padding: 10px;
  max-width: 90%;
  font-size: 1rem;
  max-height: 100%;
}

.enable {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.enable img {
  pointer-events: none;
}

.leftmenubuttons::-webkit-scrollbar {
  display: none;
  /* width: 0px; */
}

.fileandimg {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  align-items: center;
  padding-right: 5px;
  color: #496484;
  font-size: 1rem;
  user-select: none;
}
.fileimg {
  font-size: 2.2rem;
  font-weight: 200;
}
.fileandimg:hover {
  cursor: pointer;
}

/* Скрываем scrollbar для IE, Edge и Firefox */
/* .leftmenubuttons {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

/* Var Fotter */
.varfooter {
  grid-area: answer;
  display: flex;
  justify-content: space-between;
  align-content: center;

  background-color: white;

  margin-top: 4px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.varfooter .varfiles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.varfooter .varfiles div {
  align-content: center;
  margin: 5px;
}

@media (orientation: portrait) {
  .varfooter {
    flex-direction: column;
  }
}

/* Media */
@media (max-aspect-ratio: 1.9), (max-width: 1200px) {
  .varTaskText {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}
@media (max-aspect-ratio: 1.6) {
  .container {
    grid-template-areas:
      "header   header"
      "leftmenu  task"
      "leftmenu answer";
    grid-template-rows: 1.3fr 14fr 1.5fr;
    grid-template-columns: 1fr 20fr;
  }
  .varTask {
    margin-right: 10px;
  }
  .varTaskText {
    /* display: flex; */

    background-color: rgb(255, 255, 255);
    margin: 0px;
    padding: 10px;
    min-width: 95%;
    max-width: 95%;
    font-size: 1rem;
  }
  .varNavigate .leftmenu {
    margin: 0px 5px 0px 5px;
  }
  .taskbutdivl,
  .taskbutdivr {
    display: none;
    margin: 0;
  }
}
