.bankfilter {
  background-color: rgb(205, 201, 255);
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  color: rgb(0, 0, 0);
}

.bankfilter select {
  margin-right: 6px;
  padding: 3px;
  border-radius: 10px;
}

.bankfilter span {
  padding: 5px;
}
