.tasks {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1px;
  height: auto;
}

.bank {
  background-color: antiquewhite;
  padding-bottom: 20px;
}

@media (max-width: 800px) {
  .tasks {
    width: 90%;
  }
}

@media (orientation: portrait) {
  .tasks {
    width: 90%;
  }
}
